html { overflow-y: hidden; }

#loginbody {
    width: 90%;
    margin: 0 auto;
	background: #c3cad6;
}

#registerbody {
    width: 90%;
    margin: 0 auto;
	background: #c3cad6;
}

#loginheader {
    margin-top: 20px;
    padding-bottom: 5px;
}

#registerheader {
    margin-top: 20px;
    padding-bottom: 5px;
}

.logo-row {
    width: 250px;
    padding-left: 38%;
}

.logo {
    width: 100%;
    height: 100px;
    text-align: center;
}

.bg {
	height: 60px;
	position:relative;
	top: -28px;
	padding-left: 45%;
}

#loginbody >.container{
	width: 70%;
    height: 480px;
	border: 2px solid #fff;
	box-shadow: 0 15px 40px rgba(0,0,0,.5);
	background-color: white;
}

#registerbody >.registercontainer{
	height: 5px;
	border: 2px solid #fff;
	box-shadow: 0 15px 40px rgba(0,0,0,.5);
}

#loginbody > .container .left{
	float: left;
	width: 45%;
	height: 100%;
	margin-left: -15px;
	background: url(/dist/img/login.png);
	background-size: cover;
	box-sizing: border-box;
}

#loginbody > .container .right{
	float: right;
	width: 52%;
	height: 400px;
	box-sizing: border-box;
	padding-right: 10px;
}

.register{
	float: right;
}


.formBox
{
	width:100%;
}

.logout{
	text-align: center;
}

#loginlinks {
	padding-top : 10px;
}

