<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/img/cal_logo_small.png" type="image/icon type">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css"
	rel="stylesheet">
<link
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" crossorigin="anonymous" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
<style>
.wrapper {
	position: relative;
	width: 400px;
	height: 200px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img {
	position: absolute;
	left: 0;
	top: 0;
}

.signature-pad {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: 200px;
	border: black;
	border-style: solid;
}

label {
	font-weight: normal;
}
</style>

<title>Signature Capture</title>
</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><img
			src="/dist/img/calpers_logo.png" style="height: 100%; width: auto;" /></a>
		<button class="btn btn-link btn-sm order-1 order-lg-0"
			id="sidebarToggle" href="#">
			<i class="fas fa-bars"></i>
		</button>

	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading"></div>
						<a class="nav-link" href="/dashboard">
							<div class="sb-nav-link-icon" style="color: white">
								<i class="fas fa-home"></i>
							</div> <span style="color: white">Home</span>
						</a> <a class="nav-link" href="/viewprofile">
							<div class="sb-nav-link-icon" style="color: white">
								<i class="fas fa-user"></i>
							</div> <span style="color: white">View/Edit Profile</span>
						</a> <a class="nav-link" href="#">
							<div class="sb-nav-link-icon" style="color: white">
								<i class="glyphicon glyphicon-lock"></i>
							</div> <span style="color: white">Change password</span>
						</a>

						<li sec:authorize="isAuthenticated()"><a class="nav-link"
							href="/logout">
								<div class="sb-nav-link-icon" style="color: white">
									<i class="fas fa-power-off"></i>
								</div> <span style="color: white">Logout</span>
						</a></li>


					</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<div class="container-fluid">
				<h4>Password Management</h4>
				<div class="card">
					<div class="card-header">
						<div class="row">
							<h5 class="card-title">Change Password</h5>
						</div>
					</div>
					<div class="card-body">
						<!-- -------------------------------------------------------------- -->

						<div class="col-md-8 col-md-offset-2">
							<form class="form-horizontal" id="pwdForm" role="form">
								<div id="ajax-msg" class="alert alert-dismissible"
									style="display: none;">
									<input type="button" class="close btn btn-sm"
										data-dismiss="alert" aria-hidden="true" value="x">
									<p></p>
								</div>
								<div class="form-group editFields">
									<label class="col-md-4">Current Password:</label>
									<div class="col-md-8">
										<input type="password" id="currentPwd"
											placeholder="Current password">
									</div>
								</div>
								<div class="form-group editFields">
									<label class="col-md-4">New Password:</label>
									<div class="col-md-8">
										<input type="password" id="newPwd"
											placeholder="Password">
									</div>
								</div>
								<div class="form-group editFields">
									<label class="col-md-4">Confirm Password:</label>
									<div class="col-md-8">
										<input type="password" id="confirmPwd"
											placeholder="Confirm Password">
									</div>

								</div>
								<div class="form-group" style="padding-top: 20px;">
									<label class="col-lg-3 control-label"></label>
									<div class="col-lg-8">
										<input type="button" id="btnSubmit" class="btn btn-primary"
											value="Save Changes">
										<input
											type="reset" class="btn btn-default" value="Cancel">
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>

	<script
		src = "http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript">
	  
	        $("#btnSubmit").click(function(e) {
	        	e.preventDefault();
	        	var current = $("#currentPwd").val();
	            var password = $("#newPwd").val();
	            var confirmPassword = $("#confirmPwd").val();
	           if (password != confirmPassword) {
	                alert("Passwords do not match.");
	            }
	           else{
	        	   //ajax call here 
	        	   var data ={
							currentPwd : current,
							newPwd : password
					};
					$.ajax({
						type : "POST",
						data :JSON.stringify(data),
						contentType : "application/json",
					    url : "changepwd",
						cache : false,
						success : function(data) {
							console.log(data);
							if(data == "Success") {
								console.log("success block");
								window.location.href = "/login?success";
								
							}
							else{
								console.log("else block");
								$('#ajax-msg').addClass('alert-danger');
								$('#ajax-msg').find("p").html("Current password does not match with the records.");
								$('#ajax-msg').show();
							}
						},
						error: function(data) {
							console.log(data);
							console.log("error block");
							$('#ajax-msg').addClass('alert-danger');
							$('#ajax-msg').find("p").html("Failed to update password changes.");
							$('#ajax-msg').show();
				        }
					});
	           }
	            
	        });
	</script>
</body>
</html>

