<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/img/cal_logo_small.png" type="image/icon type">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css"
	rel="stylesheet">
<link
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" crossorigin="anonymous" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
<style>
.wrapper {
	position: relative;
	width: 400px;
	height: 200px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sidebar {
	padding-bottom: 2px;
}

img {
	position: absolute;
	left: 0;
	top: 0;
}

.signature-pad {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: 200px;
	border: black;
	border-style: solid;
}

#fileSelectDiv {
	padding: 5px;
}

.imgActionBtns {
	padding: 10px;
}

label {
	font-weight: normal;
}

.ImageBorder
{
    border-width: 1px;
    border-color: Black;
}
</style>

<title>Edit Signature</title>
</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><img
			src="/dist/img/calpers_logo.png" style="height: 100%; width: auto;" /></a>
		<button class="btn btn-link btn-sm order-1 order-lg-0"
			id="sidebarToggle" href="#">
			<i class="fas fa-bars"></i>
		</button>

	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading"></div>
						<a class="nav-link" href="#">

							<div class="sb-nav-link-icon" style="color: white">
								<i class="fas fa-home"></i>
							</div> <span class="sidebar" style="color: white">Home</span>
						</a> <a class="nav-link" href="/viewprofile">
							<div class="sb-nav-link-icon" style="color: white">
								<i class="fas fa-user"></i>
							</div> <span class="sidebar" style="color: white; padding-left: 5px;">View/Edit
								Profile</span>
						</a> <a class="nav-link" href="/changepwd">
							<div class="sb-nav-link-icon" style="color: white">
								<i class="glyphicon glyphicon-lock"></i>
							</div> <span class="sidebar" style="color: white; padding-left: 4px;">Change
								password</span>
						</a>

						<li sec:authorize="isAuthenticated()"><a class="nav-link"
							href="/logout">
								<div class="sb-nav-link-icon"
									style="color: white; padding-left: 3px;">
									<i class="fas fa-power-off"></i>
								</div> <span class="sidebar" style="color: white; padding-left: 5px;">Logout</span>
						</a></li>



					</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<div class="card">
						<div class="card-header">
							<div class="row" style="margin-bottom: -12px;">
								<div class="col-md-4">
									<h5>Home</h5>
								</div>
								<div class="col-md-4" style="text-align: center;">
									<h5>
										Welcome <span th:text="${session.userDetails.firstName}"></span>
									</h5>
								</div>
								<div class="col-md-4">
									<p style="float: right;">
										User Type: <span
											th:text="${session.userDetails.userType}==2 ? 'External' : 'Internal'"></span>
									</p>
								</div>
							</div>

						</div>
						<div class="card-body">
							<form>
								<div style="float: right;" class="col-sm-2">
								<a href="/editDashboard" class="btn btn-info btn-sm"> <span
									class="glyphicon glyphicon-wrench"></span> Edit Signature
								</a>
							    </div>
								<div class="col-md-8 col-md-offset-4">
									<form class="form-horizontal" role="form">
                                		<div id="container" class="form-group">
                                		<div id="sigContainer" class="row" style="
                                			padding-top: 66px;
                                			margine-top: 40px">
                                			<img th:src="@{'/uploads/' + ${signatureName}}" width="400px" height="250px" style="padding:1px;border: solid black;"/> 
                                		</div>
                                		
                                		<div class="row"
                                		style="
                                			padding-top: 200px;
                                			margine-top: 40px;
                                			padding-left: 100px">
                               			 	<h6 class="card-title">
										 	Preferred Name : <span th:text="${preferredName}"></span>
							    			</h6>
                               			</div>
                               			 
                               			 <div class="row"
                               			 style="
                                			padding-left: 100px">
                                			<h6 class="card-title">
											Upload Date : <span th:text="${uploadDate}"></span>
							    			</h6>
                                		</div>
                                		</div>
                                	</form>
                                </div>	
								<!-- -------------------------------------------------------------- -->

								<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
							</form>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
		crossorigin="anonymous"></script> -->
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>

	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
	<script src="js/scripts.js"></script>	
	<script type="text/javascript" src="/js/cropper.js"></script>
	<script>
		
	$(document).ready(function() {
			  $('input[type=radio][name="signOption"]').on('change', function() {
				  if(this.value=="upload") {
					  $('#uploadContainer').show();
					  $('#drawContainer').hide();
				  } else {
					  $('#drawContainer').show();
					  $('#uploadContainer').hide();
				  }
			  });
			});
		// CROPPER SCRIPT
		cropper.start(document.getElementById("testCanvas"), 1); // initialize cropper by providing it with a target canvas and a XY ratio (height = width * ratio)
		
		function handleFileSelect() {
			// this function will be called when the file input below is changed
			var file = document.getElementById("signatureFile").files[0];  // get a reference to the selected file
			
			
			var reader = new FileReader(); 
			reader.onload = function(event) {
				var data = event.target.result; // the "data url" of the image
				cropper.showImage(data); 
				console.log("Cropper--->"+data)
			};
			// this loads the file as a data url calling the function above once done
			reader.readAsDataURL(file); 
		
		}
		
		var uploadBtn = document.getElementById('upload');
		var myCanvas = document.getElementById("testCanvas");
		
		
		// on click of Upload Button
		uploadBtn.addEventListener('click', function(event) {
			
			event.preventDefault();
			var dataURI = myCanvas.toDataURL();
			var preferredNameUpload = $('#preferredNameId').val(); 
			console.log("on Click of upload"+ dataURI);
			var data = {
					imgURI : dataURI,
					uploadType : 'upload',
					preferredName : preferredNameUpload
					
			};
			$.ajax({
				type : "POST",
				data : JSON.stringify(data),
				contentType : "application/json",
			    url : "saveSignature",
				cache : false,
				success : function(data) {
					if(data == "Success") {
						$('#upload-ajax-msg').addClass('alert-success');
						$('#upload-ajax-msg').find("p").append("Successfully saved signature.");
						$('#upload-ajax-msg').show();
						$('#uploadSignDiv').hide();
					}
					else {
						$('#upload-ajax-msg').addClass('alert-danger');
						$('#upload-ajax-msg').find("p").append("Error while saving signature. Please try again.");
						$('#upload-ajax-msg').show();
					}
				}
			});
			
		});
		
		<!-- ----------Signature Pad Script------------------->
			var signaturePad = new SignaturePad(document
					.getElementById('signature-pad'), {
				backgroundColor : 'rgba(255, 255, 255, 0)',
				penColor : 'rgb(0, 0, 0)'
			});
			var saveButton = document.getElementById('save');
			var cancelButton = document.getElementById('clear');

			saveButton.addEventListener('click', function(event) {
				event.preventDefault();
				var sign = signaturePad.toDataURL('image/png');
				var preferredNameDraw = $('#preferredNameId').val();
				var data ={
						signImg : sign,
						uploadType : 'draw',
					    preferredName : preferredNameDraw
				};
				$.ajax({
					type : "POST",
					data : JSON.stringify(data),
					contentType : "application/json",
				    url : "saveSignature",
					cache : false,
					success : function(data) {
						if(data == "Success") {
							$('#signpad-ajax-msg').addClass('alert-success');
							$('#signpad-ajax-msg').find("p").append("Successfully saved signature.");
							$('#signpad-ajax-msg').show();
							$('#signpad-div').hide();
						}
						else {
							$('#signpad-ajax-msg').addClass('alert-danger');
							$('#signpad-ajax-msg').find("p").append("Error while saving signature. Please try again.");
							$('#signpad-ajax-msg').show();
						}
					}
				});
			});

			cancelButton.addEventListener('click', function(event) {
				signaturePad.clear();
			});
		</script>


	<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->
</body>
</html>