<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/img/cal_logo_small.png" type="image/icon type">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<link
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css"
	rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" crossorigin="anonymous" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
	crossorigin="anonymous"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
<style>
.wrapper {
	position: relative;
	width: 400px;
	height: 200px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sidebar {
	padding-bottom: 2px;
}

img {
	position: absolute;
	left: 0;
	top: 0;
}

.signature-pad {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: 200px;
	border: black;
	border-style: solid;
}

#fileSelectDiv {
	padding: 5px;
}

.imgActionBtns {
	padding: 10px;
}

label {
	font-weight: normal;
}

#canvas {
	height: 250px;
	width: 400px;
	background-color: #ffffff;
	cursor: default;
	border: 1px solid black;
}

#result {
	height: 300px;
	background-color: #ffffff;
	cursor: default;
	border: 2px solid black;
	display: block;
	width: 100%;
}

.previewDiv {
	padding-top: 11px;
}

#uploadImg {
	max-width: 100%;
	position: relative;
}
</style>

<title>Home</title>
</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><img
			src="/dist/img/calpers_logo.png" style="height: 100%; width: auto;" /></a>
		<button class="btn btn-link btn-sm order-1 order-lg-0"
			id="sidebarToggle" href="#">
			<i class="fas fa-bars"></i>
		</button>

	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading"></div>
						<a class="nav-link" href="#">

							<div class="sb-nav-link-icon" style="color: white">
								<i class="fas fa-home"></i>
							</div> <span class="sidebar" style="color: white">Home</span>
						</a> <a class="nav-link" href="/viewprofile">
							<div class="sb-nav-link-icon" style="color: white">
								<i class="fas fa-user"></i>
							</div> <span class="sidebar" style="color: white; padding-left: 5px;">View/Edit
								Profile</span>
						</a> <a class="nav-link" href="/changepwd">
							<div class="sb-nav-link-icon" style="color: white">
								<i class="fa fa-lock"></i>
							</div> <span class="sidebar" style="color: white; padding-left: 4px;">Change
								password</span>
						</a>

						<li sec:authorize="isAuthenticated()"><a class="nav-link"
							href="/logout">
								<div class="sb-nav-link-icon"
									style="color: white; padding-left: 3px;">
									<i class="fas fa-power-off"></i>
								</div> <span class="sidebar" style="color: white; padding-left: 5px;">Logout</span>
						</a></li>



					</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<div class="card">
						<div class="card-header">
							<div class="row" style="margin-bottom: -12px;">
								<div class="col-md-4">
									<h5>Home</h5>
								</div>
								<div class="col-md-4" style="text-align: center;">
									<h5>
										Welcome <span th:text="${session.userDetails.firstName}"></span>
									</h5>
								</div>
								<div class="col-md-4">
									<p style="float: right;">
										User Type: <span
											th:text="${session.userDetails.userType}==2 ? 'External' : 'Internal'"></span>
									</p>
								</div>
							</div>

						</div>
						<div class="card-body">

							<div>
								<div id="alert-msg" class="alert alert-dismissible"
									style="display: none;">
									<input type="button" class="close btn btn-sm"
										data-dismiss="alert" aria-hidden="true" value="x">
									<p></p>
								</div>
							</div>
							<!-- --------------------------------------------------------- -->		

							<div class="row" style="padding-top: 16px; padding-bottom: 16px;">
								<label class="col-md-6">Please enter preferred name with
									signature:</label> <input type="text" id="preferredNameId"
									class="form-control col-md-6" placeholder="E-Signature Name">
							</div>
							<div class="row">
								<label class="col-md-6">Would you like to draw or upload
									your signature ?</label>
								<div class="col-md-6">
								<div class="row">
									<div>
										<input type="radio" id="drawOpt" name="signOption"
											value="draw"> <label for="draw"
											style="padding-left: 3px;">Draw</label>
									</div>
									<div style="padding-left: 18px;">
										<input type="radio" id="uploadOpt" name="signOption"
											value="upload"> <label style="padding-left: 3px;"
											for="upload">Upload</label>
									</div>
									</div>
								</div>
							</div>


							<!--   ------------------------------------------------------------------ -->
							<div id="drawContainer" class="container" style="display: none;">
								<div>
									<!--<div id="signpad-ajax-msg" class="alert alert-dismissible"
										style="display: none;">
										<input type="button" class="close btn btn-sm"
											data-dismiss="alert" aria-hidden="true" value="x">
										<p></p>
									</div>-->
								</div>
								<div id="signpad-div" class="row signpad-padding">
									<div>
										<h5 style="padding-top:20px;">Please draw your signature</h5>
										<div class="wrapper">
											<canvas id="signature-pad" class="signature-pad" width="400"
												height="200"></canvas>
										</div>
										<p class="imgActionBtns">

											<input type="button" class="btn btn-md btn-primary" id="save"
												value="Save"> <input type="button"
												class="btn btn-md btn-primary" id="clear" value="Clear">
										</p>
									</div>
								</div>
							</div>
							<!-- ----------------------------------------------------------- -->

							<div id="uploadContainer" class="container"
								style="display: none;">
								<div class="row" style="padding-top: 22px;">
									<div class="uploadDiv col-md-6">
										<div class="row"
											style="padding-bottom: 15px; padding-left: 14px;">
											<a class='my-tool-tip' data-toggle="tooltip" data-placement="left" 
											title="Choose an image with plain light background and dark signature">
                								<i class='glyphicon glyphicon-info-sign'></i>
            								</a>
											<!-- Below are a series of inputs which allow file selection and interaction with the cropper api -->
											<input type="file" id="fileInput" accept="image/*" 
											style="padding-left: 10px;"/>
										</div>

										<div>
											<canvas id="canvas">Your browser does not support the HTML5 canvas element.</canvas>
										</div>
										<div class="row" id="imgActionBtns"
											style="padding-top: 10px; padding-bottom: 10px; display: none;">
											<div class="col-sm-3">
												<button class="btn btn-sm btn-primary" id="btnCrop"
													data-target="#cropmodal" data-toggle="modal">
													<i class="fa fa-crop"></i> Crop
												</button>
											</div>
											<div class="col-sm-3">
												<button class="btn btn-sm btn-primary" id="btnRestore">
													<i class="fa fa-undo"></i> Restore
												</button>
											</div>
										</div>
										<input type="button" name="submitFile" id="upload"
											style="display: none;" class="form-control btn btn-primary"
											value="Upload Signature" />
									</div>

								</div>
							</div>

							<div id="cropmodal" class="modal fade" tabindex="-1"
								role="dialog" aria-hidden="true">
								<div class="modal-dialog">
								<div class="modal-content">
									<div class="col-md-12">
										<h4 style="text-align: center;">Preview signature</h4>
										
										<div>
											<div>
												<div class="text-center">
													<div id="result"></div>
												</div>
											</div>
										</div>
										
										<br>
										<button class="btn btn-sm btn-primary"
											style="text-align: center;" data-dismiss="modal"
											>Close</button>
										<br>
										<br>
										</div>
									</div>
									</div>
								</div>
							</div>
							<!-- -------------------------------------------------------------- -->

							
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
		crossorigin="anonymous"></script> -->


	<!--<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/scripts.js"></script>		
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.js"></script>
	<script>
		
		$(document).ready(function() {
			  $('input[type=radio][name="signOption"]').on('change', function() {
				  if(this.value=="upload") {
					  $('#uploadContainer').show();
					  $('#drawContainer').hide();
				  } else {
					  $('#drawContainer').show();
					  $('#uploadContainer').hide();
				  }
				$("#cropmodal").draggable({
				      handle: ".modal-dialog"
				  });  
				
			  });
			});
		// CROPPER SCRIPT
		/*cropper.start(document.getElementById("testCanvas"), 1); // initialize cropper by providing it with a target canvas and a XY ratio (height = width * ratio)
		
		function handleFileSelect() {
			// this function will be called when the file input below is changed
			var file = document.getElementById("signatureFile").files[0];  // get a reference to the selected file
			
			var reader = new FileReader(); 
			reader.onload = function(event) {
				var data = event.target.result; // the "data url" of the image
				cropper.showImage(data); 
				console.log("Cropper--->"+data)
			};
			// this loads the file as a data url calling the function above once done
			reader.readAsDataURL(file); 
		
		}
		
		var uploadBtn = document.getElementById('upload');
		var myCanvas = document.getElementById("testCanvas");*/
		
		var canvas = $("#canvas");
		context = canvas.get(0).getContext("2d");
		$result = $("#result");

		$("#fileInput").on("change", function(e) {
			
		  if (this.files && this.files[0]) {
			  // File should be more than 15 KB and less than 5 MB
			  if(((this.files[0].size)/1024 < 15) && ((this.files[0].size)/1024/1024 < 5)) {
				    this.value="";
			    	$('#alert-msg').addClass('alert-danger');
					$('#alert-msg').find("p").html("File size should be greater than 15kB and less than 5MB");
					$("#alert-msg").fadeIn("slow");
			        $("#alert-msg").delay(2000).fadeOut(1000);
			    	return;
			  }
			  else {
				  $('#imgActionBtns').show();
			      $('#upload').show();
			  
		    	var reader = new FileReader();
		   		reader.onload = function (evt) {
		      var img = new Image();
		      img.onload = function () {
		        context.canvas.height = img.height;
		        context.canvas.width = img.width;
		        context.drawImage(img, 0, 0);
		        var cropper = canvas.cropper({
		          aspectRatio: 16 / 9
		        });
		        $("#btnCrop").click(function(e) {
		          // Get a string base 64 data url
		          e.preventDefault();
		          var croppedImageDataURL = canvas
		            .cropper("getCroppedCanvas")
		            .toDataURL("image/png");
		          $result.html(
		            $('<img id="uploadImg" style="object-fit:contain;">').attr(
		              "src",
		              croppedImageDataURL
		            )
		          );
		        });
		        $("#btnRestore").click(function(e) {
		        e.preventDefault();
		          canvas.cropper("reset");
		          $result.empty();
		        });
		      };
		      img.src = evt.target.result;
		    };
		    reader.readAsDataURL(this.files[0]);
		  } 
		  }
		  else {
		    alert("No file(s) selected.");
		  }
		});

		
		var uploadBtn = document.getElementById('upload');
		
		// on click of Upload Button
		uploadBtn.addEventListener('click', function(event) {
			event.preventDefault();
			var dataURI =  $('#uploadImg').attr('src');
			var preferredNameUpload = $('#preferredNameId').val(); 
			//console.log("on Click of upload"+ dataURI);
			var data = {
					signImg : dataURI,
					uploadType : 'upload',
					preferredName : preferredNameUpload
					
			};
			$.ajax({
				type : "POST",
				data : JSON.stringify(data),
				contentType : "application/json",
			    url : "saveSignature",
				cache : false,
				success : function(data) {
					if(data == "Success") {						
						window.location.href="/dashboard?success";
					}
					else {
						window.location.href="/dashboard?error";
					}
				},
				error: function(data) {
					window.location.href="/dashboard?error";
		        }
			
			});
			
		});
		
		<!-- ----------Signature Pad Script------------------->
			var signaturePad = new SignaturePad(document
					.getElementById('signature-pad'), {
				backgroundColor : 'rgba(255, 255, 255, 0)',
				penColor : 'rgb(0, 0, 0)'
			});
			var saveButton = document.getElementById('save');
			var cancelButton = document.getElementById('clear');

			saveButton.addEventListener('click', function(event) {
				event.preventDefault();
				var sign = signaturePad.toDataURL('image/png');
				var preferredNameDraw = $('#preferredNameId').val();
				var data ={
						signImg : sign,
						uploadType : 'draw',
					    preferredName : preferredNameDraw
				};
				$.ajax({
					type : "POST",
					data : JSON.stringify(data),
					contentType : "application/json",
				    url : "saveSignature",
					cache : false,
					success : function(data) {
						if(data == "Success") {
							window.location.href="/dashboard?success";
						}
						else {
							window.location.href="/dashboard?error";
						}
					},
					error: function(data) {
						window.location.href="/dashboard?error";
			        }
				});
			});

			cancelButton.addEventListener('click', function(event) {
				signaturePad.clear();
			});
		</script>


	<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->
</body>
</html>