<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css"
	rel="stylesheet">
<link href="/css/jquery.signature.css" rel="stylesheet">

<title>Signature Capture</title>
</head>
<header id="registerheader">
		<div class="row">
		  <div class="logo-row">
		  <center>
		  	<a th:href="@{/}">
			<img src="/dist/img/calpers_logo.png" alt="logo" class="col-12">
			</a>
			</center>
		  </div>
		</div>
</header>


<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Please upload or draw your signature</h2>

				<form th:action=@{/uploadSignatureCall} method="post"
					enctype="multipart/form-data">
					<h1></h1>
					<input type="file" name="signatureFile">
					<h1></h1>
					<input type="submit" name="submitFile"
						class="form-control btn btn-primary" value="Upload Signature" />
				</form>
			</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3" >
				<h3 style="text-align:center">OR</h3>
			</div>
			</div>
		</div>	
		<div class="row signpad-padding">
			<div class="col-md-6 col-md-offset-3">
				<div id="sig"></div>
				<p style="clear: both;">
					<button id="clear">Clear</button>
					<button id="save">Save</button>
				</p>
			</div>
		</div>
	</div>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.signature.js"></script>
	<script>
		$(function() {
			var sig = $('#sig').signature();
			$('#disable').click(function() {
				var disable = $(this).text() === 'Disable';
				$(this).text(disable ? 'Enable' : 'Disable');
				sig.signature(disable ? 'disable' : 'enable');
			});
			$('#clear').click(function() {
				sig.signature('clear');
			});
			$('#json').click(function() {
				alert(sig.signature('toJSON'));
			});
			$('#svg').click(function() {
				alert(sig.signature('toSVG'));
			});
		});
	</script>
</body>
</html>