<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	
<title>Uplaod Status</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
  			<div th:if="successfulUploadMsg">
    			<h1><span th:text="${successfulUploadMsg}"></span></h1>
  			</div>
  		</div>
  	</div>
</div>  		

</body>
</html>
