<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<style>
.wrapper {
	position: relative;
	width: 400px;
	height: 200px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img {
	position: absolute;
	left: 0;
	top: 0;
}

.signature-pad {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: 200px;
	border: black;
	border-style: solid;
}
</style>

<title>Signature Capture</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="logo-row">
				<center>
					<a th:href="@{/}"> <img src="/dist/img/calpers_logo.png"
						alt="logo" class="col-12">
					</a>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Please upload or draw your signature</h2>

				<form th:action=@{/uploadSignatureCall} method="post"
					enctype="multipart/form-data">
					<h1></h1>
					<input type="file" name="signatureFile">
					<h1></h1>
					<input type="submit" name="submitFile"
						class="form-control btn btn-primary" value="Upload Signature" />
				</form>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h3 style="text-align: center">OR</h3>
				</div>
			</div>
		</div>
		<div class="row signpad-padding">
			<div class="col-md-6 col-md-offset-3">
				<div class="wrapper">
					<canvas id="signature-pad" class="signature-pad" width=400
						height=200></canvas>
				</div>
				<p>
					<button id="save">Save</button>
					<button id="clear">Clear</button>
				</p>
			</div>
		</div>
	</div>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
	<script>
		var signaturePad = new SignaturePad(document
				.getElementById('signature-pad'), {
			backgroundColor : 'rgba(255, 255, 255, 0)',
			penColor : 'rgb(0, 0, 0)'
		});
		var saveButton = document.getElementById('save');
		var cancelButton = document.getElementById('clear');

		saveButton.addEventListener('click', function(event) {
			event.preventDefault();
			var data = signaturePad.toDataURL('image/png');
			$.ajax({
				type : "post",
				url : "/hello",
				data : data,
				cache : false,
				success : function(data) {
				}
			});
		});

		cancelButton.addEventListener('click', function(event) {
			signaturePad.clear();
		});
	</script>
</body>
</html>